html {
  background-color: rgb(51, 120, 180);
  font-family: sans-serif;
  margin: 5%;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  padding: 10px;
}

#container {
  background-color: white;
  box-shadow: 60px -16px teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px 10px;
  width: 20%;
  border-radius: 15px;
}

h2 {
  text-transform: uppercase;
}

.fa-solid {
  font-size: 100px;
}
